
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row noprint">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                         <div class="col-4">
                        <div class="form-group">
                            <label class="form-lable">From Date</label>
                            <input class="form-control" type="date" id="FromDate"/>
                        </div>
                    </div>
                     <div class="col-4">
                        <div class="form-group">
                            <label class="form-lable">To Date</label>
                            <input class="form-control" type="date" id="ToDate"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <br/>
                        <button class="btn btn-primary"  id="view">View</button>
                        <button class="btn btn-primary" id="print">Print</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered" id="saleList">
                <thead>
                    <tr>
                        <th>InvoiceNumber</th>
                        <th>Date</th>
                        <th>Customer</th>
                        <th>Total</th>
                        <th>Discount</th>
                        <th>Grand Total</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th colspan="3"></th>
                        <th><span id="total"></span> $</th>
                        <th><span id="discount"></span> %</th>
                        <th><span id="grandTotal"></span> $</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
       $(document).ready(function(){
           $("#FromDate").val(moment(new Date()).format('YYYY-MM-DD'));
           $("#ToDate").val(moment(new Date()).format('YYYY-MM-DD'));
           $("#view").click(function(){
               $.ajax({
                   method:"GET",
                   url:"/SaleReport/GetData/?fromDate="+ $("#FromDate").val() +"&toDate="+ $("#ToDate").val(),
                   success:function(data){
                       console.log(data);
                       var total =0;
                       var discount =0;
                       var grandTotal = 0;
                       $.each(data,function(i,v){
                           var row ="<tr><td><a href='/Sales/Print/?Id="+ v.saleId +"'>"+ v.invoiceNumber;
                           row += "</a></td><td>"+ moment(v.issueDate).format('DD-MM-YYYY');
                           row += "</td><td>"+ v.customerName;
                           row += "</td><td>"+ v.total;
                           row += "</td><td>"+ v.discount;
                           row += "</td><td>"+ v.grandTotal +"</td></tr>";
                           $("#saleList").append(row);
                           total += Number(v.total);
                           discount += Number(v.discount);
                           grandTotal += Number(v.grandTotal);
                       });
                       $("#total").text(total);
                       $("#discount").text(discount);
                       $("#grandTotal").text(grandTotal);
                   },error:function(error){
                       console.log(error);
                   }
               });
           });
           $("#print").click(function(){
               window.print();
           });
       });
    </script>
}

